[user]
    name = Shawn524-Yan
    email = yyanhe524@gmail.com
    #signingkey = ABCDE12345  # 可选：如果你使用 GPG 签名

[core]
    editor = code --wait
    autocrlf = input
    whitespace = trailing-space,space-before-tab

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[push]
    default = simple

[merge]
    conflictstyle = diff3

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[credential]
    helper = store  # 或者使用 'cache' 或 'manager-core' 视你的平台而定
